{% extends "index.html" %} {% block body %}

  <body>
    <h1> Hakskdk </h1>
    <h1>{{ name }}</h1>
    <h3>pwd: {{ cwd }}</h3>
    <h3>url: {{ u }}</h3>
    <br />
    {% for e in mylist %} <br />
    {{e}} {% endfor %}
  </body>
</html>

{% endblock %}
